<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="center-align">
      <h4> Edit post</h4>
    </div>

    <div class="input-field">
      <input class="validate" formControlName="title" id="title" type="text" #title>
    </div>
    <br>
    <ckeditor formControlName="text" [editor]="Editor"></ckeditor>
    <br>

    <br>
    <div class="center-align">
      <button  class="btn">Edit post</button>
    </div>
    <button (click)="check()">check</button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
