<br>
<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <div class="inline center-align teal lighten-1"  >
    <p>{{ error }}</p>
  </div> -->

  <div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
      <div class="s12 m4 l8" *ngIf="auth.error$ | async as error">
      <div class="card-panel teal lighten-1 z-depth-1 center-align">
        <span class="center-align" style="color: white;">{{ error }}</span>
      </div>
    </div></div>
    <div class="col s12 m4 l2"></div>
  </div>


  <div class="center-align "  *ngIf="message">
    <p>{{ message }}</p>
</div>


  <div class="center-align">
      <div class="input-field inline">
        <input id="login" type="email" class="validate z-depth-5" formControlName="email">
        <label for="login">Email</label>
      </div>
      <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Введите поле email
      </small>
      <small *ngIf="form.get('email').errors.email">
        Поле email должно быть email
      </small>
    </div>
      <br>
      <div class="input-field inline">
        <input id="password" type="password"  formControlName="password">
        <label for="password">Password</label>
      </div>
      <div
      style="margin-bottom: 20px;"
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">
        Введите пароль
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас он
        {{form.get('password').errors.minlength.actualLength}}
        символа.
      </small>
    </div>
      <div>
        <button class="btn waves-effect waves-light z-depth-3"
        type="submit"
        name="action"
        [disabled] = "form.invalid || submitted">
          <i class="material-icons">check</i>
        </button>
      </div>
  </div>
</form>
