<div class="col s12 m12">
  <div class="center-align card-panel">
    <div class="card-content">
    <span class="card-title">Title</span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quas, excepturi maiores voluptatum laborum consequuntur debitis dolore cupiditate consectetur. Aut enim deserunt, doloremque quasi sapiente illo consequatur nesciunt minus, veniam sequi quia esse placeat consectetur optio illum facere tempora. Dolor!</p>
    <small>Author</small>
    </div>
  </div>
</div>


