<div *ngIf="posts$ | async as posts; else loading">
  <app-post
  *ngFor="let post of posts"
  [post]="post">
  </app-post>

</div>
<ng-template #loading>
  <div class="center-align" style="margin-top: 30px;">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</ng-template>




