<div *ngIf="posts.length; else loading">
  <div class="collection">
    <a class="collection-item" *ngFor="let post of posts">
      <span class="badge">
        <a [routerLink]="['/admin', 'post', post.id, 'edit']" style="margin-right: 10px;"><i class="material-icons">create</i></a>
        <a [routerLink]="" (click)="delete(post)"><i class="material-icons" style="color: red;">delete</i></a>
      </span>{{post.title + ' by ' + post.author}}
    </a>
  </div>
</div>

<ng-template #loading>
  <div class="center-align" style="margin-top: 30px;">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</ng-template>


