<div>
  <div class="collection">
    <a class="collection-item">
      <span class="badge">
        <a href="#" style="margin-right: 10px;"><i class="material-icons">create</i></a>
        <a href="#"><i class="material-icons" style="color: red;">delete</i></a>
      </span>{{'ok'}}
    </a>
  </div>
</div>

<ng-template #loading>
  <div class="center-align" style="margin-top: 30px;">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</ng-template>


